/* Estilos para Formulário */
.formulario {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    resize: none;
}

.hidden {
    display: none;
}

#login-reminder {
    text-align: center;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
}

/* Estilos para links com aparência de botões */
.botao-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 80, 0); /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove bordas padrão */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 1em;
    text-align: center;
    text-decoration: none; /* Remove o sublinhado */
    cursor: pointer; /* Adiciona cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s ease; /* Animação ao passar o mouse */
}

.botao-link:hover {
    background-color: #026339; /* Cor de fundo ao passar o mouse */
}
